.cart-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.cart {
    width: calc(100% - 40px);
    background-color: white;

    border-radius: 25px 25px 0 0;
    position: fixed;
    z-index: 5;
    left: 20px;
    bottom: 0px;
    height: 250px;
    padding: 10px;
    padding-top: 20px;
    box-sizing: border-box;

    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    text-align: center;

}

.cart h1:first-child {
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
}

.close-cart {
    height: calc(100vh - 250px);
}

@media only screen and (min-width: 1024px) {
    .cart {
        width: 60vw;
        left: 50%;
        transform: translateX(-50%);
    }
}