.lateral-buttons {
    position: fixed;
    top: 50%;
    right: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(-50%);
    z-index: 0;
}

.lateral-buttons-buttons {
    padding: 5px;
}

.lateral-buttons-buttons-button {
    background-color: #E05D31;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lateral-buttons-buttons-button:last-child {
    background-color: #F38962;
    margin-top: 10px;
}