.popup {
    width: calc(100vw - 40px);
    height: calc(90vh - 40px);

    padding: 10px 20px;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);

    box-sizing: border-box;

    position: fixed;

    z-index: 4;

    border-radius: 18px;

    color: white;
}

.popup a {
    color: white;
    text-decoration: none;
}

.popup h1 {
    font-family: "Anton SC", sans-serif;
    font-size: 15px;

    margin: 20px 0px;

}

.popup h2 {
    font-family: "Anton SC", sans-serif;
    font-size: 13px;
    
    margin: 20px 0px;
    color: orange;
    
    font-weight: 600;
}

.popup p,
li {
    font-family: "poppins", sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin: 20px 0px;
    line-height: 15px;
}

.popup li {
    list-style: disc;
    list-style-position: inside;
}

.highlight {
    color: orange;
    font-weight: 500;
}

.popup-close {
    width: 90%;
    height: 8vw;

    text-align: right;
    position: fixed;
    z-index: 6;
}

.popup-content {
    overflow: scroll;
    scrollbar-width: 30px;
    scrollbar-color: black;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .popup {
        width: calc(100vw - 200px);
        height: calc(100vh - 200px);
        box-sizing: border-box;
        padding: 20px;
        position: fixed;

        margin: 100px;

    }
}

@media only screen and (min-width: 1024px) {
    .popup-content {
        overflow: scroll;
        scrollbar-width: 30px;
        height: 80%;
    }

    .popup-content::-webkit-scrollbar {
        background-color: transparent;
    }
}