.foodcalcbanner {
    text-align: center;
    margin: 10px;
    width: calc(100vw - 20px);
    max-width: 580px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Anton AC";
}

.foodcalcbanner img {
    transform: translateY(70px);
    position: relative;
    height: 250px;
}

.foodcalcbanner-content {
    padding: 30px 30px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 18px;
    margin-bottom: 100px;
}
.foodcalcbanner-content h1{
    text-align: left;
    border-radius: 8px;
    font-family: "Anton SC", Helvetica, sans-serif;
    font-size: 18px;
    color: #AD7657;
}
.foodcalcbanner-content-box{
    margin-top: 10px;
    text-align: justify;
    border-radius: 8px;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 12px;
    background-color: #AD7657;
    color: white;
    padding: 15px 25px;
}
.foodcalcbanner-content-box button{
    width: 100%;
    padding: 10px;
    border: none;
    font-family: "Anton SC", Helvetica, sans-serif;
    border-radius: 8px;
    background-color: #F87838 ;
    color: #F2F2F3;
    margin-top: 10px;
}


@media only screen and (min-width: 768px) {
    .foodcalcbanner {
        grid-column: span 2;
    }
}